<!-- <h2>Ranked questions for this week</h2>
<div *ngIf="rankedQuestions?.length > 0; else noRankedQuestions">
	<ul>
		<li *ngFor="let question of rankedQuestions">
			<app-question [question]="question"></app-question>
	</ul>
</div>

<ng-template #noRankedQuestions>
	<h3> Questions are not ranked yet </h3>
</ng-template> -->

<h2>Questions for this week </h2>
<div *ngIf="questionsOfTheWeek?.length > 0; else noQuestions">
	<ul>
		<li *ngFor="let question of questionsOfTheWeek">
			<app-question [question]="question" [showVoting]="true"></app-question>
			<button title="add to group" 
				(click)="addToGroup(question)">Add to group</button>
		</li>
	</ul>
</div>

<h2> Questions in current group</h2>
<div *ngIf="currentGroup?.questions?.length > 0">
	<ul>
		<li *ngFor="let question of currentGroup.questions">
			<app-question [question]="question" [showVoting]="false"></app-question>
			<button title="remove from current group"
				(click)="removeFromCurrentGroup(question)">Remove from current group</button>
		</li>
	</ul>
</div>
<button title="group questions"
	(click)="group()">Group</button>

<h2> Grouped questions </h2>
<div *ngIf="groups?.length > 0; else noQuestions">
	<ul>
		<li *ngFor="let group of groups">
			Group {{group.gid}}, rank {{group.groupRank}}
			<ul>
				<li *ngFor="let question of group.questions">
					<app-question [question]="question" [showVoting]="false"></app-question>
				</li>
			</ul>
		<button title="Edit group"
			(click)="editGroup(group)">Edit group</button>
		</li>
	</ul>
</div>

<ng-template #noQuestions>
	<h3> No Questions this week yet </h3>
</ng-template>

